/* Debian language css file for Chinese - zh-cn, zh-tw and zh-hk */
/* please do not touch for now! - Jutta Wrage 2005 */
/* modified by Boyuan Yang, 2017 */

/*
html[lang|=zh] #maincol {
	font-family: Song, Arial, sans-serif; 
}
body {
	font-family: DejaVu Sans, sans-serif;
}
*/

html[lang|=zh] #maincol li {
	line-height: 1.2em;
	padding: 0.1em;
}
html[lang|="zh"] h1, html[lang|="zh"] h2, html[lang|="zh"] h3, html[lang|="zh"] h4 {
	font-weight: bold;
}
html[lang|="zh"] dl.gloss dt {
	font-weight: 400;
	font-size: 110%;
}
.active {
	color: red;
}
html[lang|=zh] #leftcol ul, html[lang|=zh] #leftcol, html[lang|=zh] #navbar a {
	font-size: 1em;
	font-weight: normal;
}

/*
html[lang=zh-cn] em {
	font-family: DejaVu Serif, AR PL KaitiM GB, AR PL UKai CN, "KaiTi_GB2312";
}
html[lang=zh-tw] em {
	font-family: DejaVu Serif, AR PL UKai TW, DFKai-SB;
}
html[lang=zh-hk] em {
	font-family: DejaVu Serif, AR PL UKai HK, DFKai-SB;
}
*/

/* quotes */
html[lang=zh-cn] q:before { content: "\201C"; }
html[lang=zh-cn] q:after { content: "\201D"; }
html[lang=zh-cn] q q:before { content: "\2018"; }
html[lang=zh-cn] q q:after { content: "\2019"; }

html[lang=zh-cn] blockquote.quote p:first-child:before { content: "\201C"; }
html[lang=zh-cn] blockquote.quote p:after { content: ""; }
html[lang=zh-cn] blockquote.quote p.last:after { content: "\201D"; }

html[lang=zh-hk] q:before { content: "\300C"; }
html[lang=zh-hk] q:after { content: "\300D"; }
html[lang=zh-hk] q q:before { content: "\300E"; }
html[lang=zh-hk] q q:after { content: "\300F"; }

html[lang=zh-hk] blockquote.quote p:first-child:before { content: "\300C"; }
html[lang=zh-hk] blockquote.quote p:after { content: ""; }
html[lang=zh-hk] blockquote.quote p.last:after { content: "\300D"; }

/* quotes */
html[lang=zh-tw] q:before { content: "\300C"; }
html[lang=zh-tw] q:after { content: "\300D"; }
html[lang=zh-tw] q q:before { content: "\300E"; }
html[lang=zh-tw] q q:after { content: "\300F"; }

html[lang=zh-tw] blockquote.quote p:first-child:before { content: "\300C"; }
html[lang=zh-tw] blockquote.quote p:after { content: ""; }
html[lang=zh-tw] blockquote.quote p.last:after { content: "\300D"; }

/* For small screens */
@media only screen and (max-width: 38em) {
	div#navbar a:link, div#navbar a:visited {
		margin: 0 0.5em 0 0 !important;
	}
}
